<p>This is the about view.</p>
<!-- 
{
    "CourseDetails":{
        "CoreJava":[
            {
                "CourseName": "CoreJava",
                "StartingDate":"08/05/2016",
                "Trainer": "Ramesh",
                "DaysandTiming": "45 Days, 1hr"
            }
        ],
        "AdvancedJava":[
            {
                "CourseName": "AdvancedJava",
                "StartingDate":"08/05/2016",
                "Trainer": "Ramesh",
                "DaysandTiming": "45 Days, 1hr"
            }
        ],
        "Springs":[
            {
                "CourseName": "Springs",
                "StartingDate":"08/05/2016",
                "Trainer": "Ramesh",
                "DaysandTiming": "45 Days, 1hr"
            }
        ],
        "HyberNet":[
            {
                "CourseName": "HyberNet",
                "StartingDate":"08/05/2016",
                "Trainer": "Ramesh",
                "DaysandTiming": "45 Days, 1hr"
            }
        ]
    }
} -->