<div class="container">
  <!-- Displaying Images with search testbox and search button -->
 
 <form ng-app="3TttApp" name="myForm">
  <img class="img-rounded homeScreenImage" ng-src="{{imageSource}}" alt="GroupImage" >
  
 <!--  <div ng-app="3TttApp">
  <img class="img-rounded homeScreenImage" ng-src="{{imageSource}}" alt="GroupImage" >
  </div> -->

  <div class="searchBar">
  <input type="text"  name="input" ng-model="enteredSearchValue"ng-minlength=""  ng-maxlength="4"  ng-class="{'red':myForm.input.$invalid}"   />
  <button type="button" ng-click="fundSearchValue(enteredSearchValue)" ng-disabled="enteredSearchValue == ''|| myForm.$invalid">Search</button>
    <h3>Result is:</h3>
    <ul>
      <li ng-repeat="result in results"> {{result.serial}}  {{result.owner}}</li>

    </ul>
  </div>
  </form>
<!-- 
  <div class="courseDetailsList">
    <div class="courseDetailsText">
      <h3>Courser Details</h3>
    </div>
    
    <div class="CourseImageWithDetails">
      <div>
        <img ng-src="{{CourseImage}}" alt="JavaCourseImage" ng-click="alertFun()">
      </div>
      <div ng-repeat="x in CourseDetailsjson" ng-click="alertFun()" >
        {{x.CourseName}}<br/>
        {{x.Duration}}<br/>
      </div>
    </div>
    
     <div class="CourseImageWithDetails">
      <div>
        <img ng-src="{{CourseImage}}" alt="JavaCourseImage" ng-click="alertFun()">
      </div>
      <div ng-repeat="x in CourseDetailsjson" ng-click="alertFun()" >
        {{x.CourseName}}<br/>
        {{x.Duration}}<br/>
      </div>
    </div>
   
    <div class="CourseImageWithDetails">
      <div>
        <img ng-src="{{CourseImage}}" alt="JavaCourseImage" ng-click="alertFun()">
      </div>
      <div ng-repeat="x in CourseDetailsjson" ng-click="alertFun()" >
        {{x.CourseName}}<br/>
        {{x.Duration}}<br/>
      </div>
    </div>
    
    <div class="CourseImageWithDetails">
      <div>
        <img ng-src="{{CourseImage}}" alt="JavaCourseImage" ng-click="alertFun()">
      </div>
      <div ng-repeat="x in CourseDetailsjson" ng-click="alertFun()" >
        {{x.CourseName}}<br/>
        {{x.Duration}}<br/>
      </div>
    </div>
    
    <div class="CourseImageWithDetails">
      <div>
        <img ng-src="{{CourseImage}}" alt="JavaCourseImage" ng-click="alertFun()">
      </div>
      <div ng-repeat="x in CourseDetailsjson" ng-click="alertFun()" >
        {{x.CourseName}}<br/>
        {{x.Duration}}<br/>
      </div>
    </div>
  </div> -->
    <!-- ng repeat wedjets -->
    <!-- <div ng-repeat= "X in CourseDetailsjson" class="CourseImageWithDetails">
         <div style="width:200px;height:200px;background:{{X.value}}">
            <label>{{X.color}}</label>
         </div>
    </div> -->
  <div class="courseDetailsList" >  
    <div ng-repeat= "X in CourseDetailsjson" class="CourseImageWithDetails">
         <div style="width:300px;height:300px;" >
            <img ng-src="{{X.courseImage}}" ng-click="alertFun()"/>
            <label ng-click="alertFun()" class="mouseover">{{X.courseName}}</label><br/>
            <label ng-click="alertFun()" >{{X.trainer}}</label>
         </div>
    </div>
  </div>
</div>

